:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --secondary-background-color: #f2f2f2;
    --button-background-color: #007bff;
    --button-hover-background-color: #0056b3;
    --input-background-color: #f9f9f9;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --secondary-background-color: #2c2c2c;
    --button-background-color: #1a73e8;
    --button-hover-background-color: #0c56b1;
    --input-background-color: #333333;
}

button, input, .flash-message, .icon-box, .chart-container {
    background-color: var(--input-background-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--button-hover-background-color);
}

/* Dark Mode Toggle Styling */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: var(--input-background-color);
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--button-background-color);
    font-family: 'Arial', sans-serif;
    text-align: center; /* Ensure proper alignment */
    width: fit-content; /* Ensure it doesn't stretch unnecessarily */
}


.dark-mode-toggle label {
    margin-left: 8px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.dark-mode-toggle input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 2px solid var(--button-background-color);
    border-radius: 50%;
    background: var(--background-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

.dark-mode-toggle input[type="checkbox"]:checked {
    background: var(--button-background-color);
}






/* Hamburger Menu */
.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
    font-family: 'Arial', sans-serif;
}

.hamburger-menu.open {
    transform: translateX(0);
}

.hamburger-menu .close-btn {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    text-align: right;
}

.hamburger-menu .menu-links {
    list-style-type: none;
    padding: 20px;
}

.hamburger-menu .menu-links li {
    margin: 15px 0;
}

.hamburger-menu .menu-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Hamburger Icon */
.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
}

