/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5em;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Welcome Section */
.welcome-section {
    background: url('images/background.jpg') center/cover no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.welcome-section h1 {
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
}

/* Icon Grid */
.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 25px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--input-background-color);
    justify-items: center;
}

.icon-box {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.3s;
    margin: auto;
}

.icon-box:hover {
    background-color: #c6c6ce;
}

.icon-box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .welcome-section {
        height: 200px;
    }

    .welcome-section h1 {
        font-size: 20px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .icon-box {
        padding: 15px;
    }
}
