{% extends "base/base.html" %}

{% block title %}Welcome Page{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <!-- Background with Title -->
    <div class="welcome-section">
        <h1>Welcome, {{ user_name }}</h1>
    </div>

    <!-- Icon Boxes -->
    <div class="icon-grid">
        {% for link in links %}
            {% if link.icon != 'NONE' %}    
                <a href="{{ link.url }}" class="icon-box">
                    <img src="{{ url_for('static', filename=link.icon) }}" alt="{{ link.name }} Icon">
                    <span>{{ link.name }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}