{% extends "base/base_login.html" %}

{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block form_action %}{{ url_for('auth.register') }}{% endblock %}
{% block form_fields %}
  <input type="text" name="first_name" placeholder="First Name" required>
  <input type="text" name="last_name" placeholder="Last Name" required>
  <input type="text" name="birth_date" placeholder="Birth Date: MM/DD/YYYY" required>
{% endblock %}
{% block button_text %}Register{% endblock %}
{% block extra_links %}
  <a href="{{ url_for('auth.login') }}">Already set up account? Login</a>
{% endblock %}
