{% extends "base/base_login.html" %}

{% block title %}Setup{% endblock %}
{% block header %}Setup{% endblock %}
{% block form_action %}{{ url_for('auth.setup') }}{% endblock %}
{% block form_fields %}
  <input type="text" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit" name="token" value="{{ token }}">Register</button>
{% endblock %}
{% block extra_links %}
  <a href="{{ url_for('auth.login') }}">Already set up account? Login</a>
{% endblock %}
