{% extends "base/base.html" %}

{% block title %}Welcome Page{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <!-- Background with Title -->
    <div class="welcome-section">
        <h1>Welcome, {{ user_name }}</h1>
    </div>

    <!-- Icon Boxes -->
    <div class="icon-grid">
        {% for link in links %}
            {% if link.icon %}    
                <a href="{{ link.url }}" class="icon-box">
                    <img src="{{ url_for('static', filename=link.icon) }}" alt="{{ link.name }} Icon">
                    <span>{{ link.name }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        //randomly choose a background image
        document.addEventListener("DOMContentLoaded", function() {
            const baseUrl = "{{ url_for('static', filename='images/') }}";
            const images = ['background.png', 'background2.png', 'background3.png', 'background4.png', 'background5.png'];
            const randomIndex = Math.floor(Math.random() * images.length);
            const randomImage = images[randomIndex];
            document.querySelector('.welcome-section').style.backgroundImage = `url(${baseUrl}${randomImage})`;
        });
    </script>
{% endblock %}