{% extends "base/base_login.html" %}

{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}
{% block form_action %}{{ url_for('auth.login') }}{% endblock %}
{% block form_fields %}
  <input type="text" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
{% endblock %}
{% block button_text %}Login{% endblock %}
{% block extra_links %}
  <a href="{{ url_for('auth.register') }}">First-Time Login? Setup Account</a>
  <a href="{{ url_for('auth.reset_password') }}">Forgot Password?</a>
{% endblock %}