/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5em;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Welcome Section */
.welcome-section {
    background: url('images/background.jpg') center/cover no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
    animation: fadeIn 2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.welcome-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 30%, transparent 70%);
    pointer-events: none; /* Ensures overlay does not interfere with user interaction */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.05); /* Slight zoom-in effect */
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.welcome-section h1 {
    font-size: 24px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    z-index: 1; /* Ensures text stays above overlays */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Adds depth to text */
}

/* Icon Grid */
.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 25px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-color: var(--input-background-color);
    justify-items: center;
}

.icon-box {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Initial subtle shadow */
    min-height: 20vw;
    /* made the text have a max width of 50% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-box:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    /* add a border to the icon-box */
    border: 3px solid var(--button-background-color);
}

.icon-box:hover img {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.icon-box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    min-width: 10vw;
    min-height: 10vw;
}

.icon-box span {
    max-width: 80%;
}

/* Media Queries */
@media (max-width: 768px) {
    .welcome-section {
        height: 200px;
    }

    .welcome-section h1 {
        font-size: 20px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .icon-box {
        padding: 15px;
    }
}
